<h2>Key Values</h2>
{% block body %}
<a href='/logout'>Logout</a>
<table>
<tr><th>Key</th><th>Value</th></tr>
    {% for item in key_values %}
<tr><td>{{item.key}}</td><td>{{item.value}}</td></tr>
{% endfor %}
</table>
<h2>Get a Value </h2>
<form method="GET" action="/api/v1/get/{{user_id}}">
    <input type="test" name="key" placeholder="KEY">
    <input type="submit" value="Get Key">
</form>
<h2>Set a Key Value pair</h2>
<form method="POST" action="/api/v1/set/{{user_id}}">
    <input type="text" name="key" placeholder="KEY">
    <input type="text" name="value" placeholder="VALUE">
    <input type="submit" value="Set key value">
</form>

{% endblock %}