{% block body %}
{% if session['logged_in'] %}
<p>You're logged in already!</p>
<a href='/logout'>Logout</a>
{% else %}
<form action="/login" method="POST">
  <input type="username" name="username" placeholder="Username">
  <input type="password" name="password" placeholder="Password">
  <input type="submit" value="Log in">
</form>
<p><h4>OR</h4></p>
<form action="/register" method="POST">
    <input type="username" name="username" placeholder="Username">
    <input type="password" name="password" placeholder="Password">
    <input type="submit" value="Register">
  </form>
{% endif %}
{% if session['error'] %}
<h1>Wrong password</h1>
{% endif %}
{% endblock %}